<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar nueva tarea</title>
</head>
<body>
<div class="container mt-4">
  <!-- creamos una card -->
  <div class="card">
    <div class="col-sm-6">
      <form th:action="@{/agregartarea}" th:object="${task}" method="post">
        <div class="card">
          <div class="card-header">
            <h3>Modulo persona</h3>
            <div class="card-boddy">
              <div class="form-group">
                <label>Nombre:</label>
                <input th:field="*{nombre}" type="text" class="form-control"/>
              </div>
              <div class="form-group">
                <label>Apellido:</label>
                <input th:field="*{descripcion}" type="text" class="form-control"/>
              </div>
              <div class="card-footer">
                <input type="submit" value="Guardar" class="btn btn-success"/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>